In [3]:
import numpy as np
import pandas as pd

df = pd.read_csv("logistic_regression_01.csv")

In [4]:
df.head()

   admit  gre   gpa  rank
0      0  380  3.61     3
1      1  660  3.67     3
2      1  800  4.00     1
3      1  640  3.19     4
4      0  520  2.93     4

In [ ]:
from sklearn.metrics import confusion_matrix
from sklearn.cluster import KMeans